<template>
  <div></div>
</template>

<script>
export default {
  name: "EditUserComp",
  props: {
    clients: Array,
  },
  methods: {
    sendDataClient(index) {
      let clientData = this.clients[index];
      this.$emit("data", clientData);
    },
  },
};
</script>

<style scoped>
</style>