<template>
  <div class="listarticles">
    <h1 class="title">Lista de tus artículos</h1>
    <ul>
      <article
        v-for="(article, index) in articles"
        :key="article.id"
        v-show="Number(article.state) === 0"
      >
        <div class="text">
          <li>Categoria {{ article.category }}</li>
          <li>Marca: {{ article.brand }}</li>
          <li>Descripción: {{ article.description }}</li>
          <li>Precio: {{ article.price }} €</li>
          <li>Provincia: {{ article.province }}</li>
        </div>
        <section class="image">
          <li id="img">
            <img :src="getImageName(article.image1)" />

            <a :href="getImageName(article.image1)" target="_blank">
              <button class="button" id="plusButton1">Ampliar</button>
            </a>
          </li>
          <li id="img">
            <img :src="getImageName(article.image2)" />

            <a :href="getImageName(article.image2)" target="_blank">
              <button class="button" id="plusButton1">Ampliar</button>
            </a>
          </li>
          <li id="img">
            <img :src="getImageName(article.image3)" />

            <a :href="getImageName(article.image3)" target="_blank">
              <button class="button" id="plusButton1">Ampliar</button>
            </a>
          </li>
        </section>
        <li>
          <button
            class="button"
            id="editarticle1"
            @click="sendDataArticle(index)"
          >Editar datos del artículo</button>
        </li>
        <li>
          <button class="button" id="editarticle2" @click="sendIndexArticle(index)">Borrar Artículo</button>
        </li>
      </article>
    </ul>
    <p>
      <router-link class="button" to="/HomeUser" tag="button">Volver al catátolo</router-link>
    </p>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "EditArticlesComp",
  props: {
    articles: Array,
  },
  methods: {
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataArticle(index) {
      let dataArticle = this.articles[index];
      console.log(dataArticle);
      this.$emit("data", dataArticle);
    },

    sendIndexArticle(index) {
      let indexArticle = this.articles[index].id;
      this.$emit("delete", indexArticle);
    },
  },
};
</script>

<style scoped></style>