<template>
  <div class="footer">
    <footer>
      <h2>SHOPTEC copyright 2020.</h2>
      <h3>Página para la venta de artículos de tegnología.</h3>
      <p>
        Si quieres saber más sobe mí,
        <span id="footer">
          <router-link to="/sobremi">pincha aquí.</router-link>
        </span>
      </p>
    </footer>
    <img class="logo" src="../assets/logo.png" alt="logo" />
  </div>
</template>

<script>
export default {
  name: "FooterComp",
};
</script>

<style scoped>
</style>