<template>
  <div>
    <h1 class="title">Catálogo de artículos a la venta.</h1>

    <p>
      <button class="button" id="buttonsearch" @click="ishidden = !ishidden">Buscador</button>
    </p>
    <div class="search" v-show="ishidden">
      <label>Categoría :</label>
      <select name="searcherCategory" v-model="criterio" id="category">
        <option value selected></option>
        <option value="Televisión">Televisón</option>
        <option value="smartphone">Smartphone</option>
        <option value="portatil">Portátil</option>
        <option value="Ordenador">Ordenadores, CPU</option>
        <option value="monitor">Monitores PC</option>
        <option value="CamaraDigital">Cámara Dígital</option>
        <option value="CamaraReflex">Cámara Reflex</option>
        <option value="Reproductores">Reproductores Blu Ray/DVD</option>
        <option value="MP4MP3">MP4/MP3</option>
        <option value="Videocamara">Videocámara</option>
      </select>

      <label>Marca :</label>
      <input type="search" v-model="searchArticle" placeholder="Marca" id="brand" />

      <label>Provincia :</label>
      <select name="searcherProvince" v-model="criterio1" id="province">
        <option value selected></option>
        <option value="A Coruña">A Coruña</option>
        <option value="Pontevedra">Pontevedra</option>
        <option value="Lugo">Lugo</option>
        <option value="Ourense">Ourense</option>
      </select>

      <label>Ciudad :</label>
      <input type="search" v-model="searchArticle1" placeholder="Población" />

      <label>Precio :</label>
      <input type="number" name="priceMin" v-model="priceMin" placeholder="Mínimo" />
      <input type="number" name="priceMax" v-model="priceMax" placeholder="Máximo" />

      <label>Valoración media :</label>
      <input type="number" name="ratingMin" v-model="ratingMin" placeholder="Mínimo" />
      <input type="number" name="ratingMax" v-model="ratingMax" placeholder="Máximo" />

      <button class="searchbutton" @click="searchBy(), clearField()">Buscar</button>
    </div>
    <div class="listarticles">
      <ul id="searchBy">
        <article v-for="article in articles" :key="article.id" v-show="Number(article.state) === 0">
          <div class="text">
            <li>Categoria: {{ article.category }}</li>
            <li>Marca: {{ article.brand }}</li>
            <li>Descripción: {{ article.description }}</li>
            <li>Precio: {{ article.price }} €</li>
            <li>Vendedor: {{ article.name }}</li>
            <li>Provincia: {{ article.province }}</li>
            <li>Ciudad: {{ article.city }}</li>
            <li>Valoración del vendedor:</li>

            <star-rating
              read-only
              :rating="Number(article.user_rating)"
              :show-rating="false"
              :increment="0.5"
            ></star-rating>
          </div>
          <li class="everly">
            <img :src="getImageName(article.image1)" />

            <img :src="getImageName(article.image2)" />

            <img :src="getImageName(article.image3)" />
          </li>

          <li class="butResAling">
            <router-link class="button" id="butreserv" to="/" tag="button">Reservar</router-link>
          </li>
        </article>
      </ul>
    </div>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";

export default {
  name: "ListArticlesComp",

  props: {
    articles: Array,
  },
  data() {
    return {
      criterio: "",
      criterio1: "",
      searchArticle: "",
      searchArticle1: "",
      priceMin: null,
      priceMax: null,
      ratingMin: null,
      ratingMax: null,

      ishidden: false,
    };
  },

  methods: {
    clearField() {
      this.value = "";
      this.searchArticle = "";
      this.searchArticle1 = "";
      this.priceMin = "";
      this.priceMax = "";
      this.ratingMin = "";
      this.ratingMax = "";
    },
    searchBy() {
      let search = {
        option: this.criterio,
        option1: this.criterio1,
        value: this.searchArticle,
        value1: this.searchArticle1,
        priceMin: this.priceMin,
        priceMax: this.priceMax,
        ratingMin: this.ratingMin,
        ratingMax: this.ratingMax,
      };
      console.log(searchBy);
      this.$emit("listArticle", search);
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
};
</script>

<style scoped></style>
