<template>
  <div class="listarticles">
    <!--creamos la lista de productos con un botoón de reserva-->
    <h1 class="title">Lista de artículos comprados</h1>
    <ul id="searchBy">
      <article v-for="article in articles" :key="article.id">
        <li>Fecha de Reserva: {{ formatDateToDB(article.reservation_date) }}</li>
        <li>Código de Reserva: {{ article.reservation_code }}</li>
        <li>Categoria: {{ article.category }}</li>
        <li>Marca: {{ article.brand }}</li>
        <li>Descripción: {{ article.description }}</li>
        <li>Precio: {{ article.price }} €</li>
        <li>Vendedor: {{ article.name }} {{ article.last_name }}</li>
        <li>Valorción:</li>
        <star-rating
          read-only
          :rating="Number(article.rating)"
          :show-rating="false"
          :increment="0.5"
        ></star-rating>

        <li class="everly" id="buySale">
          <img :src="getImageName(article.image1)" />

          <img :src="getImageName(article.image2)" />

          <img :src="getImageName(article.image3)" />
        </li>
      </article>
    </ul>
    <p>
      <router-link class="button" id="butbuysale" to="/HomeUser" tag="button">Volver al catálogo</router-link>
    </p>
  </div>
</template>

<script>
import { format, addMinutes } from "date-fns";
import es from "date-fns/locale/es";
import StarRating from "vue-star-rating";

export default {
  name: "ListBuyComp",
  props: {
    articles: Array,
  },
  methods: {
    formatDateToDB(date) {
      let internalDate;
      if (typeof date === "string") {
        internalDate = new Date(date);
      } else {
        internalDate = date;
      }
      const adjustedDate = addMinutes(
        internalDate,
        internalDate.getTimezoneOffset()
      );
      return format(adjustedDate, "dd-MM-yyyy p", { locale: es });
    },
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
};
</script>

<style scoped></style>
