<template>
  <div>
    <div class="listarticles">
      <ul>
        <article
          :class="{ hide: userId === Number(article.id_seller) }"
          v-for="(article, index) in articles"
          :key="article.id"
          v-show="Number(article.state) === 0"
        >
          <div class="text">
            <li>Categoria {{ article.category }}</li>
            <li>Marca: {{ article.brand }}</li>
            <li>Descripción: {{ article.description }}</li>
            <li>Precio: {{ article.price }} €</li>
            <li>Provincia: {{ article.province }}</li>
            <li>Ciudad: {{ article.city }}</li>
            <li>Valoración:</li>

            <star-rating
              read-only
              :rating="Number(article.user_rating)"
              :show-rating="false"
              :increment="0.5"
            ></star-rating>
          </div>
          <li class="everly">
            <img :src="getImageName(article.image1)" />

            <img :src="getImageName(article.image2)" />

            <img :src="getImageName(article.image3)" />
          </li>

          <li class="butResAling">
            <button class="button" id="butreserv" @click="sendDataReserve(index)">¡¡Reservame!!</button>
          </li>
        </article>
      </ul>
    </div>
  </div>
</template>

<script>
import { getIdToken } from "./../utils/utils";

export default {
  name: "ReserveComp",

  props: {
    articles: Array,
  },
  data() {
    return {
      userId: "",
      reserved: false,
    };
  },

  methods: {
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataReserve(index) {
      let dataArticle = this.articles[index];
      this.$emit("data", dataArticle);
    },
    getIdUser() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      this.userId = getIdToken(token);
    },
  },
  created() {
    this.getIdUser();
  },
};
</script>

<style scoped></style>
