@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

/****************html body ******************************/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  min-height: 100%;
  --blue: #345;
  --back: #c3f187;
  --backmodal: #a3f0a3;
  --input: #eeffec;
  --dark: #222222;
  --medium: #025516;
  --bright: #d9f8cd;
  --bodermenu: #3b3e3d;
  --green: #0a5703;

  --shadow: 0px 0px 2px #00000080;
  --background: #1e2b0b80;

  --font: Roboto, sans-serif;
}

body {
  background-color: var(--back);
  background-image: linear-gradient(to bottom, #0009, transparent);
  color: var(--bright);
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 0 20px;
  box-sizing: border-box;
}

/***************BArra de Menu************************ */

.checkbox {
  visibility: hidden;
}
#buttonmenu {
  width: 150px;
  font: var(--font);
  border-radius: 5px;
}

.menu:hover .menu__link:not(:hover) {
  color: var(--dark);
}

.menu__list {
  width: 80%;
  display: flex;
  text-align: center;
  padding-left: 10px;
  margin-left: 140px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 0.99rem;
  font-weight: bold;
}

.menu__group {
  flex-grow: 1;
}

.menu__link {
  display: block;
}

.menu {
  background-color: var(--blue);
  box-shadow: 0 1px 3px 0 #0000001f, 0 1px 2px 0 #0000003d;
}

.menu__link {
  padding: 1.5rem 0.75rem;

  font-weight: var(--font);
  color: var(--bright);
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:focus {
  outline: 2px solidvar(--bright);
}

.menu__link {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color 0.25s ease-out;
}

.menu__link::before,
.menu__link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.menu__link::before {
  left: 50%;
  transform: translateX(-50%);
}

.menu__link::after {
  right: 50%;
  transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after {
  width: 100%;
  transition-duration: 0.5s;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  box-sizing: border-box;
  width: 100%;
}

/**************class button***************/
.button {
  background-color: var(--medium);
  color: var(--input);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px var(--dark);
}

/**************class input******************/
.input {
  width: 120px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
}

/*****************LoginPage*************/
/***************login**************/
/********************************/
div.loginregistred h1.title {
  justify-content: flex-start;
  margin-left: 1rem;
  margin-top: 10rem;
}

.input {
  width: 250px;
  margin: 5px 1rem;
}

button.button {
  width: 250px;
  height: 35px;
  margin-left: 1rem;
  margin-top: 5px;
  margin-bottom: 1.5rem;
}

div.loginregistred p a {
  color: var(--green);
  font-size: 1rem;
  margin-bottom: 35px;
}

div p#loginP a {
  margin-left: 1rem;
  margin-bottom: -2rem;
}

div.loginregistred img.tienda.tienda {
  width: 54%;
  margin-bottom: -12.5rem;
  position: relative;
  bottom: 23.5rem;
  left: 33rem;
  border-radius: 15px;
  border: solid 2px var(--bodermenu);
  z-index: 1;
  margin-left: 9rem;
  margin-bottom: -20rem;
}

/*************RegistredPage*************/
/***************registro**************/
/********************************/

.input {
  width: 250px;
  margin-left: 1rem;
  margin-bottom: 50px;
}

#registredMargin input.input {
  margin-bottom: 5px;
}

div.loginregistred p:nth-child(5) {
  margin-bottom: 20px;
}
div.loginregistred p:nth-child(6) {
  color: var(--green);
  font-size: 1rem;
  margin-left: 1rem;
}

div.loginregistred p#plast:nth-child(7) {
  color: var(--green);
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: -6rem;
}

div.loginregistred img#tienda2.tienda {
  margin-top: 1rem;
  margin-left: 9rem;
}
/*****************RecoveryPassword***********/
/***************recuperacin password**************/
/***********************paso1*****************/

.input {
  width: 250px;
  margin: 5px 1rem;
}

div.loginregistred p#text {
  color: var(--green);
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

button#recovery.button {
  margin-left: 1rem;
}

/*****************CodeReserPAssword**********/
/***************validar codigo password**************/
/**********************paso2*****************/
input#registredMargin.input {
  margin-bottom: 15px;
}

input#marginButton.input {
  margin-bottom: -20px;
}

button#recovery2.button {
  margin-left: 0rem;
}

/*****************Home********************/
/***************list articles**************/
/*****************Buscador****************/
button#butact.button {
  margin-bottom: 7rem;
}
/*****************Home********************/
/***************list articles**************/
/*****************Buscador****************/
div h1.title {
  font-size: 3rem;
  margin-top: 1rem;
}

button#buttonsearch {
  width: 180px;

  margin-left: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--backmodal);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 9px var(--dark);
}

.search label {
  font-size: 1rem;
  color: var(--green);
  margin-left: 20px;
}

.search input {
  width: 150px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.search select {
  font-size: 1rem;
  background-color: var(--input);
  color: var(--green);
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

button.searchbutton {
  display: inline-block;
  background-color: var(--medium);
  color: var(--bright);
  width: 80px;
  height: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-top: -5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px var(--dark);
}

/*****************Home********************/
/***************list articles**************/
/*****************listado****************/
.listarticles .hide {
  display: none;
}

.listarticles ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.listarticles ul article {
  width: 365px;
  height: 455px;
  background-color: var(--bright);
  color: var(--green);
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 0 9px var(--dark);
}

article div.text {
  height: 240px;
}

.listarticles ul article li:nth-child(8) {
  margin-bottom: 10px;
}
.listarticles ul article img {
  width: 95px;
  height: 95px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: solid 0.1px var(--bodermenu);
  border-radius: 15px;
}

.listarticles ul article .everly {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: -20px;
  margin-bottom: 15px;
}

.listarticles ul article .button#butreserv {
  width: 120px;
  height: 33px;
  margin-top: -10px;
}

/*****************HomeUser********************/
/***************Home de usuarios**************/
/*****************modal****************/

.modal ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.modal1 {
  position: fixed;
  top: -5rem;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--background);
}

.modalBox1 {
  font-size: 1rem;
  background-color: var(--bright);

  margin: 10% auto;
  padding: 2.75rem;
  width: 600px;
  border: 1px solid var(--medium);
  border-radius: 15px;
  box-shadow: 0 9px var(--dark);
}

.modalBox1 input {
  color: var(--green);
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.modalBox1 li {
  color: var(--green);
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.modalBox1 li:first {
  margin-top: 0.5rem;
}

.modalBox1 li .button {
  width: 155px;
  margin-left: 0.25rem;
  margin-bottom: 10px;
}

.modalBox1 li #plusButton.button {
  width: 60px;
  height: 25px;
  position: relative;
  top: -1.5rem;
  font-size: 0.75rem;
  padding: 0.2px;
  margin-left: 5rem;
  margin-bottom: 25px;
}

ul.modal article section.image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section.image li img#img {
  width: 125px;
  height: 125px;
  margin-top: 30px;
  margin-bottom: -1rem;
  border: solid 2px var(--bodermenu);
  border-radius: 15px;
  margin-top: 3rem;
}

ul article li#modal {
  margin-bottom: -2rem;
  margin-left: 0;
}

div.vue-star-rating {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 45px;
}

/*****************EditArticels********************/
/***************list editar articulos**************/
/*****************listado****************/
div.listarticles ul article li#img.everly {
  margin-top: -9rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

button#editarticle1.button {
  width: 200px;
  margin-top: 40px;
}

button#editarticle2.button {
  width: 200px;
  margin-top: 0px;
}

article section.image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-top: -7.5rem;
  margin-bottom: -30px;
}

button#plusButton1.button {
  width: 60px;
  height: 25px;
  position: relative;
  top: -50px;
  left: 30px;
  font-size: 0.75rem;
  padding: 0.2px;
  margin-bottom: -55px;
}

/*****************EditArticels********************/
/***************editar articulos**************/
/*****************modal campo texto***********/

input.editArticle {
  width: 350px;
  background-color: var(--input);
  border: solid 1px var(--bodermenu);
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 2px;
}

#modalBox1 h1 {
  color: var(--dark);
  margin-left: 1rem;
  margin-top: -30px;
  margin-bottom: -20px;
}

#modalBox1 h1:last-child {
  margin-top: 20px;
}

select.editArticle {
  background-color: var(--input);
  color: var(--green);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 2px;
}

select#cat.editArticle {
  width: 500px;
}

input#brand.editArticle {
  width: 500px;
}

input#desc.editArticle {
  width: 500px;
}

input#price.editArticle {
  width: 500px;
}

input#file.editArticle {
  width: 500px;
  margin-bottom: 5px;
}

#modalBox1 ul#modal li {
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: -20px;
}

button#butfoto.button {
  height: 20px;
  margin-bottom: 3px;
}

button#but.button {
  margin-bottom: -10px;
}

/*****************NewArticle********************/
/***********artículo nuevo**************/
/*****************crear artículo****************/

div ul.newarticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 4rem;
}

div ul.newarticle li {
  color: var(--green);
  font-size: 1.5rem;
}

div ul.newarticle li select {
  width: 595px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1.5rem;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

div ul.newarticle li:first-child {
  margin-top: 1.5rem;
}

div ul.newarticle li input.inputart {
  height: 33px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1.5rem;
  margin-left: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

div ul.newarticle li input#brand {
  width: 650px;
  margin-left: 0;
}

div ul.newarticle li input#desc {
  width: 595px;
  margin-left: 0;
}

div ul.newarticle li input#price {
  width: 645px;
}

div ul.newarticle li select#province {
  width: 160px;
}

div ul.newarticle p {
  color: var(--green);
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 7px;
}

div ul.newarticle li input#file {
  width: 720px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1.5rem;
  margin-left: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/*****************EditUser********************/
/***********editar datos usuario**************/
/*****************editar usuario****************/
div ul.newarticle p {
  color: var(--green);
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 7px;
}

div ul.newarticle p#dosp {
  margin-bottom: 2rem;
}

div ul.newarticle li input#email {
  width: 490px;
  margin-left: 0;
}
div ul.newarticle li input#name {
  width: 600px;
  margin-left: 0;
}

div ul.newarticle li input#lastname {
  width: 580px;
}

div ul.newarticle li input#phone {
  width: 585px;
}

div ul.newarticle li input#address {
  width: 580px;
}

div ul.newarticle li input#city {
  width: 605px;
}

li#lastli button#butnewuser.button {
  width: 200px;
}

/*****************RestPAssword********************/
/***********Cambio de contraseña**************/
/******************************************/
div.loginregistred p input#firstinput.input {
  margin-bottom: 15px;
}

/*****************BuyComp********************/
/***********artículo comproados**************/
/*****************lista****************/
ul#searchBy article li#buySale.everly {
  margin-top: -5rem;
}

/*****************confirmReserve***********/
/***************Confiramr reserva**************/
/****************************************/
div.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.vote p {
  color: var(--green);
  font-size: 1.5rem;
}

div.vote p:nth-child(2) {
  margin-bottom: 15px;
}

div.vote p select#dia {
  width: 130px;
  background-color: var(--input);
  color: var(--green);
  font-size: 1.25rem;
  margin-left: 5px;
}

div.vote p input {
  width: 150px;
  font-size: 1.25rem;
}

div.vote p textarea {
  background-color: var(--input);
  padding: 3px;
  font-size: 1.25rem;
  margin-top: 5px;
  border-radius: 10px;
}

div.vote p button#butconfirmreserve.button {
  width: 175px;
  font-size: 1.15rem;
  margin-top: 2rem;
}
/*****************vote************************/
/***************efectuar el voto**************/
/****************************************/
div.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.vote p {
  color: var(--green);
  font-size: 1.5rem;
  border-radius: 5;
}

div.vote p select {
  width: 50px;
  background-color: var(--input);
  font-size: 1.25rem;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 5px;
}

div.vote p button#butvote.button {
  width: 175px;
  font-size: 1.15rem;
  margin-top: 1rem;
}

/****************Error***********************/
/***Pagina de esto perdido horror**************/
/****************************************/
div#imgerror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#error h1.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div#imgerror p#errortext {
  font-size: 1.5rem;
  color: var(--green);
  margin-bottom: 1rem;
}
/****************foooter***********************/
/*******************píe de página**************/
/****************************************/
div.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  color: var(--backmodal);
  width: 100%;
  height: 85px;
  bottom: 0;
}

footer h2 {
  font-size: 1.5rem;
  margin-left: 4.5rem;
}

footer h3 {
  font-size: 1.25rem;
  margin-left: -0.5rem;
}

footer p {
  font-size: 1rem;
  margin-left: 3rem;
}

footer p span a {
  color: var(--bright);
  text-decoration: none;
  font-size: 1.25rem;
}

div.footer img.logo {
  position: relative;
  top: -70px;
  left: -16rem;
  width: 50px;
}

/****************sobre mi****************/
/****************************************/
/****************************************/
div.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin-top: 5rem;
}

div.sobremi {
  width: 500px;
  background-color: var(--backmodal);
  color: var(--green);
  font-size: 1.15rem;
  margin: 1rem;
  padding: 5px;
  border-radius: 15px;
}

div.sobremi img.yo {
  margin-left: 9rem;
  margin-top: 5px;
  border-radius: 25px;
  border: solid 2px var(--dark);
}

div.sobremi h1 {
  margin-top: 5px;
  margin-left: 10.75rem;
}

div.sobremi p:nth-child(2) {
  margin-top: 5px;
}

div.sobremi p:nth-child(3) {
  margin-top: 5px;
}

div.program {
  width: 500px;
  background-color: var(--backmodal);
  color: var(--green);
  font-size: 1rem;
  margin: 1.15rem;
  padding: 5px;
  border-radius: 15px;
}

div.program img.proyec {
  width: 350px;
  margin-left: 4.5rem;
  margin-top: 5px;
  border-radius: 25px;
  border: solid 2px var(--dark);
}

div.program h1 {
  margin-left: 5.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

div.program p:nth-child(2) {
  margin-top: 5px;
}

div.program ul {
  align-content: center;
  margin-top: 5px;
}

div.program ul li:first-child {
  margin-top: 10px;
}

div.program ul li:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.program ul li:nth-child(7) {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.program ul p#program {
  margin-top: 10px;
}

div.sobrepro {
  width: 500px;
  background-color: var(--backmodal);
  color: var(--green);
  font-size: 1.15rem;
  margin: 1rem;
  padding: 5px;
  border-radius: 15px;
}

div.sobrepro img.obj {
  width: 250px;
  margin-left: 7rem;
  margin-top: 5px;
  border-radius: 25px;
  border: solid 2px var(--dark);
}

div.sobrepro h1 {
  margin-left: 1.25rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

div.sobrepro p:first-child {
  margin-bottom: 10px;
}

div.sobrepro p:nth-child(2) {
  margin-bottom: 5px;
}

div.sobrepro p:nth-child(3) {
  margin-bottom: 5px;
}

div.sobrepro p:nth-child(4) {
  margin-bottom: 5px;
}

div ul.contac {
  width: 500px;
  background-color: var(--backmodal);
  color: var(--green);
  font-size: 1.15rem;
  margin: 1rem;
  padding: 15px;
  border-radius: 15px;
}

div ul li a img.linkedin {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 50px;
}

div ul li a img.git {
  width: 50px;
  border-radius: 50px;
}

div ul li a img.gmail {
  width: 50px;
  border-radius: 50px;
}

div ul li a img.phone {
  width: 50px;
  border-radius: 50px;
}
/*****************************************/
/************madia query 768 min**********/
/*****************************************/

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  /*************LoginPAge*************/
  /***************login**************/
  /********************************/

  .input {
    width: 200px;
  }

  button.button {
    width: 200px;
    height: 25px;
  }

  div.loginregistred p:nth-child(5) {
    margin-bottom: 10px;
  }
  div.loginregistred p a {
    margin-bottom: 25px;
  }

  /*****************Home********************/
  /***************list articles**************/
  /*****************listado****************/
  div h1.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .search {
    height: 160px;
    margin: 1rem;
  }

  button.searchbutton {
    width: 75px;
    height: 20px;
    margin-left: 12px;
    margin-bottom: 5px;
  }

  /****************reservecomp**************/
  /******************modal*****************/
  /*---------------Media Query-------------*/

  .modal1 {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .modalBox1 {
    width: 300px;
    height: 490px;
  }

  .modalBox1 li#cat {
    margin-top: -30px;
  }

  .modalBox1 li #plusButton.button {
    top: -10px;
    margin-left: 25px;
  }

  section.image li img#img {
    width: 75px;
    height: 75px;
  }

  ul article li#modal {
    margin-left: -2rem;
  }

  /*****************EditArticels********************/
  /***************editar articulos**************/
  /*****************modal****************/
  #modalBox1 h1 {
    font-size: 1.15rem;
    margin-top: -2rem;
  }

  #modalBox1 {
    font-size: 1rem;
    margin: 0% auto;
    width: 300px;
  }

  .modalBox1#modalBox1 {
    height: 580px;
  }

  select#cat.editArticle {
    width: 240px;
    margin-bottom: 2px;
  }

  input#brand.editArticle {
    width: 240px;
    margin-bottom: 2px;
  }

  input#desc.editArticle {
    width: 240px;
    margin-bottom: 2px;
  }

  input#price.editArticle {
    width: 240px;
    margin-bottom: 2px;
  }

  input#file.editArticle {
    width: 240px;
    margin-bottom: 2px;
  }

  #modalBox1 #modal li .button#but1.button {
    width: 100px;
  }

  #modalBox1 #modal li .button#but.button {
    width: 100px;
    margin-top: 15px;
  }

  #modalBox1 #modal article li button#butfoto.button {
    height: 25px;
    margin-bottom: 4px;
  }

  /*****************NewArticle********************/
  /***********artículo nuevo**************/
  /*****************crear artículo****************/

  div ul.newarticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  div ul.newarticle li {
    color: var(--green);
    font-size: 1rem;
  }

  div ul.newarticle li select {
    width: 185px;
    font-size: 1rem;
  }

  div ul.newarticle li:first-child {
    margin-top: 0.5rem;
  }

  div ul.newarticle li input.inputart {
    height: 25px;
    font-size: 1rem;
  }

  div ul.newarticle li input#brand {
    width: 235px;
  }

  div ul.newarticle li input#desc {
    width: 180px;
  }

  div ul.newarticle li input#price {
    width: 230px;
  }

  div ul.newarticle li select#province {
    width: 185px;
  }

  div ul.newarticle p {
    font-size: 1rem;
  }

  div ul.newarticle li input#file {
    width: 0px;
    font-size: 1rem;
  }

  /*****************EditUser********************/
  /***************editar datos usuario******/

  div ul.newarticle p {
    font-size: 1rem;
  }

  div ul.newarticle li input#email {
    width: 290px;
    margin-left: 0;
  }
  div ul.newarticle li input#name {
    width: 290px;
    margin-left: 0;
  }

  div ul.newarticle li input#lastname {
    width: 290px;
  }

  div ul.newarticle li input#phone {
    width: 290px;
  }

  div ul.newarticle li input#address {
    width: 290px;
  }

  div ul.newarticle li input#city {
    width: 290px;
  }

  li#lastli button#butnewuser.button {
    width: 290px;
    margin-left: 0rem;
  }
}

/****************BARRA MENU***************/
/*---------------Media Query-------------*/
/*******************767px*****************/

@media (max-width: 767px) {
  .menu:hover .menu__link:not(:hover) {
    color: var(--dark);
  }

  .menu .menu__list {
    flex-direction: column;
    justify-content: left;
    width: 100px;
    margin-top: 25px;
  }

  .menu .menu__list li {
    width: 150px;
    margin-left: -150px;
  }

  #buttonmenu {
    width: 155px;
    margin-left: -150px;
  }

  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: var(--back);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }

  .menu {
    position: absolute;
    width: 155px;
    height: 100vh;
    top: 0;
    left: -220px;
    padding-top: 27px;
    background-color: var(--blue);
    border-right: 4px solid var(--bodermenu);
    transition: all 0.7s ease;
  }

  .menu__link {
    display: block;
    width: 100%;
    margin: 0 auto;
    line-height: 1.25;
    position: relative;
    border-bottom: 0.5px solid var(--bodermenu);
    border-top: 0.5px solid var(--bodermenu);
    background-color: transparent;
    text-align: center;
    color: var(--bright);
  }

  .menubutton {
    width: 150px;
    height: 50px;
    margin: 0 auto;
  }

  .menu-toogle {
    position: absolute;
    width: 25px;
    line-height: 1.1;
    text-align: center;
    top: 3px;
    left: 1px;
    border-radius: 2px;
    background-color: var(--blue);
    transition: all 0.7s ease;
    z-index: 10;
  }

  .menu-toogle::before {
    background-color: var(--blue);
    content: "☰MENÚ";
    font-size: 20px;
    color: var(--back);
  }

  .checkbox {
    display: none;
  }
  .checkbox:checked ~ .menu {
    left: 0px;
    position: fixed;
  }

  .checkbox:checked ~ .menu-toogle {
    left: 151px;
    position: fixed;
  }
}
