<template>
  <div class="page">
    <input type="checkbox" class="checkbox" id="menu-toogle" />
    <label for="menu-toogle" class="menu-toogle"></label>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group">
          <router-link
            href="#0 "
            class="menu__link"
            v-show="!islogged"
            :to="{ name: 'Registro' }"
          >Registro</router-link>
        </li>
        <li class="menu__group">
          <router-link href="#0" class="menu__link" v-show="!islogged" :to="{ name: 'Login' }">Login</router-link>
        </li>
        <li class="menu__group">
          <router-link href="#0" class="menu__link" v-show="!islogged" :to="{ name: 'Home' }">Home</router-link>
        </li>

        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'HomeUser' }"
          >Home</router-link>
        </li>
        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'ListBuy' }"
          >Artículos comprados</router-link>
        </li>

        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'ListSeller' }"
          >Artículos vendidos</router-link>
        </li>
        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'EditArticle' }"
          >Listar y editar artículos</router-link>
        </li>
        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'NewArticle' }"
          >Nuevo Artículo</router-link>
        </li>
        <li class="menu__group">
          <router-link
            href="#0"
            class="menu__link"
            v-show="islogged"
            :to="{ name: 'EditUser' }"
          >Editar Usuario</router-link>
        </li>

        <button class="menubutton" v-show="islogged" @click="logoutUser()" id="buttonmenu">Logout</button>
      </ul>
    </nav>

    <router-view @login="getLogin()" @logout="logoutUser()" />

    <footercomp />
  </div>
</template>

<script>
import footercomp from "@/components/FooterComp.vue";
import { isLoggedIn } from "./utils/utils";
import { logout } from "./utils/utils";

export default {
  name: "App",
  components: {
    footercomp,
  },
  data() {
    return {
      islogged: false,
    };
  },
  methods: {
    logoutUser() {
      logout();
      console.log("ddddddddd");
      this.islogged = false;
      this.$router.push("/");
    },
    getLogin() {
      this.islogged = isLoggedIn();
    },
  },
  created() {
    this.getLogin();
  },
};
</script>
<style>
@import "./css/style.css";
</style>
