<template>
  <div>
    <vue-headful title="ShopTec | Activar usuario" />
    <div class="loginregistred">
      <h1 class="title">Te has registrado correctamente.</h1>
      <p id="text">Pulsa sobre Login para iniciar sesión.</p>
      <router-link class="button" id="butact" to="/" tag="button">Login.</router-link>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Activate",

  data() {
    return {
      swhoError: false,
      msg: "",
    };
  },

  methods: {
    async validateUser() {
      try {
        let url = window.location.href;
        let registrationCode = url.split("?");

        const response = await axios.get(
          `http://localhost:3000/users/validate/` + registrationCode[1]
        );
        Swal.fire({
          position: "center",
          icon: "success",
          title:
            "Usuario registrado correctamente. Logeate en el botón de Login.",
          showConfirmButton: false,
          timer: 3000,
        });
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
  },
  created() {
    this.validateUser();
  },
};
</script>


<style scoped>
</style>
