<template>
  <div>
    <vue-headful title="ShopTec | Recuperación contraseña PASO 2" />
    <div class="loginregistred">
      <h1 class="title">Recuperación de la contraseña.</h1>
      <p id="text">
        * PASO 2: Introduce el código que has recibido y pon una contraseña
        diferente a la última y que tenga 8 o más caracteres. Después pulsa el
        botón y ya podrás volver a identificarte con la nueva contraseña.
      </p>
      <p>
        <input
          class="input"
          id="registredMargin"
          v-model="recoveryCode"
          type="text"
          placeholder="Pon el código de recuperación"
        />
      </p>
      <p>
        <input
          class="input"
          v-model="password"
          type="password"
          placeholder="Escribe una nueva password"
        />
      </p>

      <p>
        <input
          class="input"
          id="marginButton"
          v-model="repeatPassword"
          type="password"
          required
          placeholder="Repite la contraseña"
        />
      </p>

      <p>
        <button
          class="button"
          id="recovery2"
          @click="validateData()"
          tag="button"
        >Cambía la contraseña.</button>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "CodeResetPassword",
  data() {
    return {
      recoveryCode: "",
      password: "",
      repeatPassword: "",
      createPassword: "",
    };
  },
  methods: {
    validateData() {
      if (
        this.recoveryCode === "" ||
        this.password === "" ||
        this.repeatPassword === ""
      ) {
        this.createPassword = false;
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡No puedes dejar campos vacíos!",
        });
      } else if (this.password !== this.repeatPassword) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text:
            "¡El campo nueva contraseña y repite contraseña no son iguales!",
        });
        this.createPassword = false;
      } else if (
        this.password > this.password.length[7] &&
        this.repeatPassword > this.repeatPassword.length[7]
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text:
            "¡Los campos contraseña y repite contraseña debe tener 8 caracteres como mínimo!",
        });
        this.createPassword = false;
      } else {
        this.createPassword = true;
        this.newPassword();
      }
    },
    //conexion al Back
    async newPassword() {
      if (this.createPassword === true) {
        try {
          const response = await axios.post(
            "http://localhost:3000/users/reset-password",
            {
              recoveryCode: this.recoveryCode,
              password: this.password,
            }
          );
          Swal.fire({
            icon: "success",
            title: "¡¡¡Contraseña cambiada con éxito!!!",
            text: "Ya puedes entrar con tu nueva contraseña.",
          });
          this.$router.push("/homeuser");
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
        this.createPassword = false;
        this.recoveryCode = "";
        this.password = "";
      } else {
        console.error("Esto no va.");
      }
    },
  },
};
</script>


<style scoped>
</style>


