<template>
  <div class="listarticles">
    <vue-headful title="ShopTec |Confirmar reserva" />
    <h1 class="title">Confirmar reserva de artículo.</h1>
    <ul id="searchBy">
      <article>
        <li>Categoria: {{ article.category }}</li>
        <li>Marca: {{ article.brand }}</li>
        <li>Descripción: {{ article.description }}</li>
        <li>Precio: {{ article.price }} €</li>
        <li>Provincia: {{ article.province }}</li>
        <li>Ciudad: {{ article.city }}</li>
        <li>Valoración del vendedor:</li>
        <star-rating
          read-only
          :rating="Number(article.user_rating)"
          :show-rating="false"
          :increment="0.5"
        ></star-rating>

        <li class="everly" id="buySale">
          <img class="image" :src="getImageName(article.image1)" />

          <img class="image" :src="getImageName(article.image2)" />

          <img class="image" :src="getImageName(article.image3)" />
        </li>
      </article>
    </ul>
    <div class="vote">
      <p>
        <label>Día de la semana :</label>
        <select name="searcherDayWeek" v-model="day_week" id="dia">
          <option value="Lunes" selected>Lunes</option>
          <option value="Martes">Martes</option>
          <option value="Miércoles">Miércoles</option>
          <option value="Jueves">Jueves</option>
          <option value="Viernes">Viernes</option>
          <option value="Sábado">Sábado</option>
          <option value="Domingo">Domingo</option>
        </select>
      </p>
      <p>
        Hora :
        <input class="input" type="time" placeholder="hora del día " v-model="time" />
      </p>
      <p>Dirección y obsevaciones:</p>
      <p>
        <textarea
          id="address"
          name="textarea"
          rows="4"
          cols="30"
          placeholder="300 caracteres como máximo, incluidos los espacios."
          v-model="address"
        ></textarea>
      </p>

      <p>
        <button
          class="button"
          id="butconfirmreserve"
          @click="createdReserve(articleId)"
        >Confirmar reserva</button>
      </p>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";
import Swal from "sweetalert2";
import StarRating from "vue-star-rating";

export default {
  name: "ConfirmReserve",
  components: {},
  data() {
    return {
      articleId: "",
      day_week: "",
      time: "",
      address: "",
      article: {},
    };
  },

  methods: {
    async createdReserve(articleId) {
      if (this.day_week !== "" || this.time !== "" || this.address !== "") {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;

          const response = await axios.post(
            `http://localhost:3000/articles/${articleId}/confirm/`,
            {
              day_week: this.day_week,
              time: this.time,
              address: this.address,
            }
          );
          Swal.fire({
            icon: "success",
            title: "¡¡¡FANTASTICO!!!",
            text: "Acabas de confirmar la reserva de este artículo.",
          });
          this.$router.push("/homeuser");
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
      } else {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡No puedes dejar campos vacíos!",
        });
      }
    },

    //conexion al Back
    async listArticle() {
      try {
        let url = window.location.href;
        let [, id] = url.split("?");
        this.articleId = id;

        const response = await axios.get("http://localhost:3000/articles");
        let allArticle = response.data.data;
        for (const article of allArticle) {
          if (article.id === Number(this.articleId)) {
            this.article = article;
          }
        }
        console.log(response);
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    getImageName(name) {
      if (name !== undefined) {
        return process.env.VUE_APP_STATIC + name;
      } else {
        return "";
      }
    },
  },

  created() {
    this.listArticle();
  },
};
</script>

<style scoped></style>
