<template>
  <div>
    <vue-headful title="ShopTec | Edición usuario" />

    <h1 class="title">Actualiza tus datos de usuario:</h1>

    <ul class="newarticle">
      <p>
        <span>***</span> Cuando realices cambios en tu perfil de usuario deberas volver a logearte.
        <span>***</span>
      </p>
      <p id="dosp">
        <span>***</span> Al cambiar tu dirección de correo electrónico, recibirás un correo
        para validar tu nueva cuenta de correo electrónico. Si no lo ves, busca en tu carpeta SPAM.
        <span>***</span>
      </p>
      <li>
        Correo Electrónico:
        <input
          class="inputart"
          id="email"
          type="email"
          placeholder="email"
          v-model="emailUpdate"
        />
      </li>
      <li>
        Nombre :
        <input
          class="inputart"
          id="name"
          type="text"
          placeholder="Nombre"
          v-model="nameUpdate"
        />
      </li>

      <li>
        Apellidos :
        <input
          class="inputart"
          id="lastname"
          type="text"
          placeholder="Apellidos"
          v-model="last_nameUpdate"
        />
      </li>
      <li>
        Teléfono :
        <input
          class="inputart"
          id="phone"
          type="text"
          placeholder="Teléfono"
          v-model="phoneUpdate"
        />
      </li>

      <li>
        Dirección :
        <input
          class="inputart"
          id="address"
          type="text"
          placeholder="Dirección"
          v-model="addressUpdate"
        />
      </li>
      <li>
        Ciudad :
        <input
          class="inputart"
          id="city"
          type="text"
          placeholder="Ciudad"
          v-model="cityUpdate"
        />
      </li>

      <li id="lastli">
        <button class="button" id="butnewuser" @click="updateClient()">Actualizar</button>

        <router-link
          class="button"
          id="butnewuser"
          to="/resetPassword"
          tag="button"
        >Cambiar contraseña</router-link>

        <router-link class="button" id="butnewuser" to="/HomeUser" tag="button">Volver atrás</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { getIdToken } from "../utils/utils";
import axios from "axios";
import { logout } from "../utils/utils";
import Swal from "sweetalert2";

export default {
  name: "EditUser",
  components: {},
  data() {
    return {
      users: [],
      nameUpdate: "",
      last_nameUpdate: "",
      phoneUpdate: "",
      emailUpdate: "",
      addressUpdate: "",
      cityUpdate: "",
    };
  },
  methods: {
    logout() {
      axios.defaults.headers.common["Authorization"] = "";
      localStorage.removeItem("AUTH_TOKEN_KEY");
      this.$router.push("/");
    },
    async updateClient() {
      if (
        this.nameUpdate === "" ||
        this.last_nameUpdate === "" ||
        this.phoneUpdate === "" ||
        this.emailUpdate === "" ||
        this.addressUpdate === "" ||
        this.cityUpdate === ""
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });
      } else {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;

          const response = await axios.put(
            "http://localhost:3000/users/" + getIdToken(token),
            {
              name: this.nameUpdate,
              last_name: this.last_nameUpdate,
              phone: this.phoneUpdate,
              email: this.emailUpdate,
              address: this.addressUpdate,
              city: this.cityUpdate,
            }
          );
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Usuario actualizado correctamente.",
            showConfirmButton: false,
            timer: 1500,
          });
          this.$emit("logout", false);
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
      }
    },
    seeInfoClient(users) {
      this.nameUpdate = users[0].name;
      this.last_nameUpdate = users[0].last_name;
      this.phoneUpdate = users[0].phone;
      this.emailUpdate = users[0].email;
      this.addressUpdate = users[0].address;
      this.cityUpdate = users[0].city;
    },
    async getClient() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      axios.defaults.headers.common["Authorization"] = `${token}`;

      try {
        const response = await axios.get(
          "http://localhost:3000/users/" + getIdToken(token)
        );
        this.users = response.data.data;
        console.log(this.users);
      } catch (error) {
        console.error(error);
      }
      this.seeInfoClient(this.users);
    },
  },
  created() {
    this.getClient();
  },
};
</script>


<style scoped>
</style>

