<template>
  <div class="loginregistred" id="error">
    <div id="imgerror">
      <vue-headful title="ShopTec | HORROR!!!" />
      <h1 class="title">Buff. ¿Estas perdid@?</h1>
      <p id="errortext">La ruta a la que quieres acceder ya no éxiste.</p>
      <p id="errortext">Esto es un Error 404: This page not found.</p>
      <img src="../assets/lost.gif" alt="lost" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped>
</style>
