<template>
  <div class="home">
    <vue-headful title="ShopTec | Home" />
    <!--aplicamos el componente-->
    <listarticlescomp v-on:listArticle="listArticle" :articles="articles" />
  </div>
</template>

<script>
//Importamos modulos necesarios
import axios from "axios";
import listarticlescomp from "@/components/ListArticlesComp.vue";

export default {
  name: "Home",
  components: {
    //declaramos la vista
    listarticlescomp,
  },
  data() {
    return {
      articles: [],
      criterio: "",
      criterio1: "",
      option: "",
    };
  },

  methods: {
    //conexion al Back
    async listArticle(search) {
      try {
        if (search) {
          const response = await axios.get("http://localhost:3000/articles/", {
            params: {
              category: search.option,
              brand: search.value,
              priceMin: search.priceMin,
              priceMax: search.priceMax,
              province: search.option1,
              city: search.value1,
              ratingMin: search.ratingMin,
              ratingMax: search.ratingMax,
            },
          });
          this.articles = response.data.data;
        } else {
          const response = await axios.get("http://localhost:3000/articles");
          this.articles = response.data.data;
        }

        console.log(this.articles);
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.listArticle();
  },
};
</script>




