<template>
  <div>
    <vue-headful title="ShopTec | Home de usuario" />

    <listarticlescomp v-on:listArticle="listArticle" />
    <reservecomp v-on:data="seeInfoReserve" :articles="articles" />
    <div v-show="seeModal" class="modal1">
      <div class="modalBox1">
        <ul class="modal">
          <article>
            <li id="cat">
              Categoría:
              <input v-model="category" placeholder="Categoría" disabled />
            </li>
            <li>
              Marca:
              <input v-model="brand" placeholder="Marca" disabled />
            </li>
            <li>
              Descripción:
              <input v-model="description" placeholder="Descripción" disabled />
            </li>
            <li>
              Precio:
              <input v-model="price" placeholder="Precio" disabled />
            </li>
            <li>
              Vendedor:
              <input v-model="name" placeholder="Vendedor" disabled />
            </li>

            <li>Valoración:</li>
            <star-rating
              read-only
              :rating="Number(user_rating)"
              :show-rating="false"
              :increment="0.5"
            ></star-rating>
            <section class="image">
              <li>
                <img :src="getImageName(image1)" id="img" />
                <a :href="getImageName(image1)" target="_blank">
                  <button class="button" id="plusButton">Ampliar</button>
                </a>
              </li>
              <li>
                <img :src="getImageName(image2)" id="img" />
                <a :href="getImageName(image2)" target="_blank">
                  <button class="button" id="plusButton">Ampliar</button>
                </a>
              </li>
              <li>
                <img :src="getImageName(image3)" id="img" />
                <a :href="getImageName(image3)" target="_blank">
                  <button class="button" id="plusButton">Ampliar</button>
                </a>
              </li>
            </section>
            <li id="modal">
              <button class="button" @click="createdReserve(idArticle)">Confirmar reserva</button>
              <button class="button" @click="seeModal = !seeModal">Cancelar</button>
            </li>
          </article>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";
import reservecomp from "./../components/ReserveComp";
import listarticlescomp from "@/components/ListArticlesComp.vue";
import Swal from "sweetalert2";

export default {
  name: "HomeUser",
  components: {
    reservecomp,
    listarticlescomp,
  },
  data() {
    return {
      articles: [],
      idArticle: "",
      criterio: "",
      criterio1: "",
      brand: "",
      category: "",
      description: "",
      price: "",
      province: "",
      name: "",
      user_rating: "",
      image1: "",
      image2: "",
      image3: "",

      seeModal: false,
    };
  },

  methods: {
    async createdReserve(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.post(
          "http://localhost:3000/articles/reserve/" + id
        );
        Swal.fire({
          icon: "success",
          title: "¡¡RESERVADO!!",
          text: `Acabas de reservar este artículo. En breve recibirás un correo del vendedor. ¡¡GRACIAS!!`,
        });
        this.seeModal = false;
        this.listArticle();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    seeInfoReserve(dataArticle) {
      this.brand = dataArticle.brand;
      this.category = dataArticle.category;
      this.description = dataArticle.description;
      this.price = dataArticle.price;
      this.province = dataArticle.province;
      this.name = dataArticle.name;
      this.user_rating = dataArticle.user_rating;
      this.image1 = dataArticle.image1;
      this.image2 = dataArticle.image2;
      this.image3 = dataArticle.image3;
      this.idArticle = dataArticle.id;
      this.seeModal = true;
    },
    //conexion al Back
    async listArticle(search) {
      try {
        if (search) {
          const response = await axios.get("http://localhost:3000/articles/", {
            params: {
              category: search.option,
              brand: search.value,
              priceMin: search.priceMin,
              priceMax: search.priceMax,
              province: search.option1,
              city: search.value1,
              ratingMin: search.ratingMin,
              ratingMax: search.ratingMax,
            },
          });

          this.articles = response.data.data;
        } else {
          const response = await axios.get("http://localhost:3000/articles");
          this.articles = response.data.data;
        }

        console.log(this.articles);
      } catch (error) {
        console.error(error);
      }
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
  created() {
    this.listArticle();
  },
};
</script>
<style scoped></style>
