<template>
  <div>
    <vue-headful title="ShopTec | Lista ventas" />
    <!--aplicamos el componente-->
    <listsellercomp :articles="articles" />
  </div>
</template>

<script>
//Importamos modulos necesarios
import axios from "axios";
import listsellercomp from "@/components/ListSellerComp.vue";
import { getIdToken } from "../utils/utils";
import Swal from "sweetalert2";

export default {
  name: "ListSellerComp",
  components: {
    //declaramos la vista
    listsellercomp,
  },
  data() {
    return {
      articles: [],
    };
  },

  methods: {
    //conexion al Back
    async listBuy() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      axios.defaults.headers.common["Authorization"] = `${token}`;
      try {
        const response = await axios.get(
          `http://localhost:3000/articles/` + getIdToken(token) + `/sale`
        );

        this.articles = response.data.data;
        console.log(this.articles);
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.data.message}`,
        });
      }
    },
  },
  created() {
    this.listBuy();
  },
};
</script>
