<template>
  <div>
    <vue-headful title="ShopTec | Login" />
    <div class="loginregistred">
      <h1 class="title">LOGIN</h1>
      <p>
        <input class="input" v-model="email" required type="email" placeholder="Escribe tu correo" />
      </p>
      <p>
        <input
          class="input"
          v-model="password"
          required
          type="password"
          placeholder="Escribe tu password"
        />
      </p>

      <p>
        <button class="button" @click="validateLogin()">Haz click aquí para entrar</button>
      </p>

      <p id="loginP">
        <router-link to="/recoverypassword">Pincha aquí si no recuerdas tu contrseña.</router-link>
      </p>

      <p>
        <router-link to="/registred">¡¡¡Pincha aquí para registrarte en SHOPTEC ahora!!!.</router-link>
      </p>

      <img class="tienda" id="tienda" src="../assets/tienda.jpg" alt="tienda" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import error from "./../utils/utils";
import Swal from "sweetalert2";

export default {
  name: "LoginPage",
  data() {
    return {
      email: "",
      password: "",
      createLogin: "",
    };
  },
  methods: {
    validateLogin() {
      if (this.password === "" || this.email === "") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });
        this.createLogin = false;
      } else if (this.password > this.password.length[7]) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡La contraseña debe tener 8 caracteres como mínimo!",
        });
        this.createLogin = false;
      } else {
        this.createLogin = true;
        this.loginUserLocal();
      }
    },

    async loginUserLocal() {
      if (this.createLogin === true) {
        try {
          // LLAMADA DE AXIOS A LA API
          const response = await axios.post(
            "http://localhost:3000/users/login",
            {
              email: this.email,
              password: this.password,
            }
          );
          let token = response.data.data.token;
          localStorage.setItem("AUTH_TOKEN_KEY", token);
          this.$router.push("/homeuser");
          this.$emit("login");
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>
