<template>
  <div class="pagenewarticle">
    <vue-headful title="ShopTec | Nuevo artículo" />
    <h1 class="title">Formulario para añadir nuevo artículo:</h1>
    <ul class="newarticle">
      <li>
        <label>Categoría :</label>
        <select id="cat" name="searcherCategory" v-model="category">
          <option value="Televisión" selected>Televisón, TV</option>
          <option value="smartphone">Smartphone</option>
          <option value="portatil">Portátil</option>
          <option value="Ordenador">Ordenadores, CPU</option>
          <option value="monitor">Monitores PC</option>
          <option value="CamaraDigital">Cámara Dígital</option>
          <option value="CamaraReflex">Cámara Reflex</option>
          <option value="Reproductores">Reproductores Blu Ray/DVD</option>
          <option value="MP4MP3">MP4/MP3</option>
          <option value="Videocamara">Videocámara</option>
        </select>
      </li>
      <li>
        Marca :
        <input class="inputart" id="brand" type="text" v-model="brand" />
      </li>

      <li>
        Descripción :
        <input class="inputart" id="desc" type="text" v-model="description" />
      </li>

      <li>
        Precio :
        <input class="inputart" id="price" type="text" v-model="price" />
      </li>
      <li>
        <label>Provincia :</label>
        <select id="province" name="searcherProvince" v-model="province">
          <option value="A Coruña" selected>A Coruña</option>
          <option value="Pontevedra">Pontevedra</option>
          <option value="Lugo">Lugo</option>
          <option value="Ourense">Ourense</option>
        </select>
      </li>

      <p>
        Tienes que adjuntar 3 imagenes del artículo
        para añadirlo al catálogo.
      </p>
      <li>
        <input id="file" type="file" ref="imagenArticulo1" @change="catchSeeArticle1" />
      </li>
      <li>
        <input id="file" type="file" ref="imagenArticulo2" @change="catchSeeArticle2" />
      </li>
      <li>
        <input id="file" type="file" ref="imagenArticulo3" @change="catchSeeArticle3" />
      </li>

      <li>
        <button class="button" id="article" @click="validateData()">Añadir artículo</button>

        <router-link class="button" to="/HomeUser" tag="button">Volver atrás</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import { getIdToken } from "../utils/utils";
import Swal from "sweetalert2";

export default {
  name: "NewArticle",
  data() {
    return {
      brand: "",
      category: "",
      description: "",
      price: "",
      province: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      imagenArticulo3: "",
      createClient: false,
    };
  },
  methods: {
    validateData() {
      if (
        this.brand === "" ||
        this.description === "" ||
        this.price === "" ||
        this.province === "" ||
        this.imagenArticulo1 === "" ||
        this.imagenArticulo2 === "" ||
        this.imagenArticulo3 === ""
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });

        this.createArticle = false;
      } else {
        this.createArticle = true;
        this.addNewArticle();
      }
    },
    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
    },
    catchSeeArticle3() {
      this.imagenArticulo3 = this.$refs.imagenArticulo3.files[0];
    },

    async addNewArticle() {
      if (this.createArticle === true) {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;

          let formData = new FormData();
          formData.append("brand", this.brand);
          formData.append("category", this.category);
          formData.append("description", this.description);
          formData.append("price", this.price);
          formData.append("province", this.province);
          formData.append("processImage1", this.imagenArticulo1);
          formData.append("processImage2", this.imagenArticulo2);
          formData.append("processImage3", this.imagenArticulo3);
          const response = await axios.post(
            "http://localhost:3000/articles",
            formData,
            { header: { "Content-Type": "multipart/form-data" } }
          );
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Artículo creado correctamente.",
            showConfirmButton: false,
            timer: 1500,
          });
          // this.$router.push({ name: "HomeUser" });
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
        this.createarticle = false;
        this.brand = "";
        this.category = "";
        this.description = "";
        this.price = "";
        this.province = "";
        this.imagenArticulo1 = "";
        this.imagenArticulo2 = "";
        this.imagenArticulo3 = "";
      } else {
        console.log("Algo va mal");
      }
    },
  },
};
</script>


<style scoped>
</style>

