<template>
  <div>
    <vue-headful title="ShopTec | Recuperación contraseña PASO1" />
    <div class="loginregistred">
      <h1 class="title">Recuperación de la contraseña.</h1>

      <p id="text">
        * PASO 1: Pon tu cuenta de correo en el cuadro correspondoiente.
        Depués pulsa el botón, recibirás un código en tu cuenta de correo
        que deberás introducir en la patalla que se abrirá al pulsar el botón.
      </p>
      <p>
        <input class="input" v-model="email" type="email" placeholder="Escribe tu correo" />
      </p>

      <p>
        <button class="button" id="recovery" @click="validateData()">Recupera tu contraseña</button>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "RecoveryPassword",
  data() {
    return {
      email: "",
      createUser: "",
    };
  },
  methods: {
    validateData() {
      if (this.email === "") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡No puedes dejar el campo vacío.",
        });
        this.createUser = false;
      } else {
        this.createUser = true;
        this.newPassword();
      }
    },
    //conexion al Back
    async newPassword() {
      if (this.createUser === true) {
        try {
          const response = await axios.post(
            "http://localhost:3000/users/recovery-password",
            {
              email: this.email,
            }
          );
          await this.$router.push("/coderesetpassword");
        } catch (error) {
          console.log([error]);
        }
        this.createUser = false;
        this.email = "";
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>

