<template>
  <div>
    <vue-headful title="ShopTec | Registro" />
    <div class="loginregistred">
      <h1 class="title">REGISTRO</h1>

      <p id="registredMargin">
        <input
          class="input"
          id="firstinput"
          v-model="email"
          type="email"
          required
          placeholder="Escribe tu correo"
        />
      </p>
      <p>
        <input
          class="input"
          v-model="password"
          type="password"
          required
          placeholder="Escribe una contraseña"
        />
      </p>

      <p>
        <input
          class="input"
          v-model="repeatPassword"
          type="password"
          required
          placeholder="Repite la contraseña"
        />
      </p>

      <p>
        <button class="button" @click="validateData()">Haz click para registrarte</button>
      </p>

      <p>Cuando hagas click en el botón de registro te llegará a tudirección</p>
      <p id="plast">de correo un correo, si no lo ves mira dentro de tu carpeta de Spam.</p>

      <img class="tienda" id="tienda2" src="../assets/registro.jpg" alt="registro" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "RegistredPage",
  data() {
    return {
      email: "",
      password: "",
      repeatPassword: "",
      createUser: "",
    };
  },
  methods: {
    validateData() {
      if (
        this.email === "" ||
        this.password === "" ||
        this.repeatPassword === ""
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡No puedes dejar campos vacíos!",
        });
        this.createPassword = false;
      } else if (this.password !== this.repeatPassword) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡El campo contraseña y repite contraseña no son iguales!",
        });
        this.createUser = false;
      } else if (
        this.password > this.password.length[7] &&
        this.repeatPassword > this.repeatPassword.length[7]
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text:
            "¡Los campos contraseña y repite contraseña debe tener 8 caracteres como mínimo!",
        });
        this.createPassword = false;
      } else {
        this.createUser = true;
        this.newUser();
      }
    },
    //conexion al Back
    async newUser() {
      if (this.createUser === true) {
        try {
          const response = await axios.post("http://localhost:3000/users", {
            email: this.email,
            password: this.password,
          });
          console.log(response);
          this.createUser = false;
          this.email = "";
          this.password = "";
          Swal.fire({
            position: "center",
            icon: "success",
            title:
              "Usuario creado correctamente. Sigue las instrucciones del correo que te acabamos de mandar. Gracias.",
            showConfirmButton: false,
            timer: 4500,
          });
          this.$router.push("/");
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>

