<template>
  <div>
    <vue-headful title="ShopTec | Cambio contraseña" />
    <div class="loginregistred">
      <h1 class="title">Vas ha realizar un cambio de contraseña.</h1>

      <p>
        <input
          class="input"
          id="firstinput"
          v-model="oldPassword"
          type="password"
          required
          placeholder="Password antigua"
        />
      </p>
      <p>
        <input
          class="input"
          v-model="newPassword"
          type="password"
          required
          placeholder="Nueva contraseña"
        />
      </p>
      <p>
        <input
          class="input"
          v-model="repitNewPassword"
          type="password"
          required
          placeholder="Repite nueva contraseña"
        />
      </p>

      <p>
        <button class="button" id="butreset" @click="validateData()">Cambia tu contaseña</button>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { getAuthToken } from "../utils/utils";
import { getIdToken } from "../utils/utils";
import { logout } from "../utils/utils";
import Swal from "sweetalert2";

export default {
  name: "ResetPassword",
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      createPassword: "",
      repitNewPassword: "",
    };
  },
  methods: {
    logout() {
      axios.defaults.headers.common["Authorization"] = "";
      localStorage.removeItem("AUTH_TOKEN_KEY");
      this.$router.push("/");
    },
    validateData() {
      if (this.oldPassword === "" || this.newPassword === "") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });
        this.createPassword = false;
      } else if (this.newPassword !== this.repitNewPassword) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text:
            "¡El campo nueva contraseña y repite nueva contraseña no son iguales!",
        });
        this.createPassword = false;
      } else if (this.newPassword === this.oldPassword) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text:
            "¡La contraseña nueva no puede ser igual que la password antigua!",
        });
        this.createPassword = false;
      } else if (
        this.newPassword > this.newPassword.length[7] &&
        this.oldPassword > this.oldPassword.length[7]
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡La contraseña debe tener 8 caracteres como mínimo!",
        });
        this.createPassword = false;
      } else {
        this.createPassword = true;
        this.passwordChage();
      }
    },
    //conexion al Back

    async passwordChage() {
      if (this.createPassword === true) {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;

          const response = await axios.post(
            "http://localhost:3000/users/" + getIdToken(token) + "/password/",
            {
              oldPassword: this.oldPassword,
              newPassword: this.newPassword,
            }
          );
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Has cambiado la contraseña correctamente.",
            showConfirmButton: false,
            timer: 1500,
          });
          this.$emit("logout", false);
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
        this.createPassword = false;
        this.oldPassword = "";
        this.newPassword = "";
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>
