<template>
  <div class="about">
    <img src: alt />
    <div class="sobremi">
      <img class="yo" src="../assets/0.jpeg" alt="yo" />
      <h1>SOBRE MI</h1>
      <p>
        Soy Técnico Especialita en Electrónica Industrial, he trabajado durante los últimos años como Técnico
        de redes de telecomunicaciones en el SERGAS y Técnico de Microinformática en proyectos de la XUNTA.
      </p>
      <p>
        Me gusta practicamente todos los deportes, la música y sobre todo, disfrutar de la familia, en especial
        de mi esposa y mis queridas hijas.
      </p>

      <p>
        He decidido dar un cambío a mi vida laboral. Por eso decidí prepararme para programador FullStack junto a
        Hack a Boss, de forma entusiasta y apasionada. Junto a un grupo de grandes profesionales para dar el gran
        paso de trabajar junto a uno de sus Patners.
      </p>
    </div>
    <div class="program">
      <img class="proyec" src="../assets/proyecto.png" alt="proyecto" />
      <h1>SOBRE EL PROYECTO</h1>
      <p>
        Este proyecto ha sido desarrollado gracias a los consejos de los profesores de Hack a Boss y al sentido apoyo de mis
        compañeros, gracias a ellos he logrado desarroyar esta pequeña web de compra venta de atículos tegnólogicos.
      </p>
      <p>Para realizar este proyecto he desplegado los siguientes conocimientos adquiridos a lo largo del BootCamp.</p>
      <ul class="ul">
        <li>Base de datos MySQL</li>
        <li>Para el desarrollo del BackEnd:</li>
        <li>Jasonwebtoken</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>JavaScript</li>
        <li>Para desarrollar el FrontEnd:</li>
        <li>Axios</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Vue</li>
        <p
          id="program"
        >También se han aplicado librerias como Vue-headfull, Hapi-joi, SweetAlert entre otras.</p>
      </ul>
    </div>
    <div class="sobrepro">
      <img class="obj" src="../assets/obj.jpeg" alt="diana" />
      <h1>OBJETIVO DEL PROYECTO</h1>
      <p>El objetivo es hacer que sea sencilla de manejar e intuitiva. Su funcionalidad contempla:</p>
      <p>
        Registro de usuario, logeado de usuarios, autenticación de usuario por contraseña, validación
        de usuario por envio de correo. Reseteo da la contraseña, Recuperación de la contraseña por
        autenticación por correo y validación de correo electrónico por envio de correo al nuevo buzón.
      </p>
      <p>Los usuarios no autentiacados solo pueden ver los artículos del catálogo.</p>
      <p>
        Los usarios registrados pueden acceder al catálogo y reservar artículos.
        Estos usuarios tiene las funcionalidades de cambiar datos de su usuario, añadir, borrar y
        editar artículos. También tienen acceso a un historico de compras y ventas.
      </p>
      <p>Y todo ello en solo unos pocos cliks de ratón.</p>
    </div>
    <div>
      <ul class="contac">
        <h1>Puedes contactar conmigo en:</h1>
        <li>
          <a class="linkedin" href="https://www.linkedin.com/in/oscar-balsa-guldr%C3%ADs-53230143">
            <img class="linkedin" src="../assets/linkedin.png" alt="linkedin" />
          </a>
        </li>
        <p>Mi Linkedin.</p>
        <li>
          <a
            class="gmail"
            href="mailto:obalgul@gmail.com?Subject=Hola%20queremos%20contactar%20contigo"
          >
            <img class="gmail" src="../assets/gmail.png" alt="gmail" />
          </a>
        </li>
        <p>obalgul@gmail.com</p>
        <li>
          <a class="phone" href="#">
            <img class="phone" src="../assets/phone.png" alt="movil" />
          </a>
        </li>
        <p>+0034 616 634 992</p>
        <li>
          <a class="git" href="https://gitlab.com/obalgul/proyecto-hab.git">
            <img class="git" src="../assets/gitlab.png" alt="gitlab" />
          </a>
        </li>
        <p>Aquí puedes ver el código del proyecto.</p>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "SobreMi",
};
</script>



<style>
</style>