<template>
  <div>
    <vue-headful title="ShopTec | Home de usuario" />

    <editarticlecomp v-on:data="seeInfoArticles" v-on:delete="deleteArticle" :articles="articles" />
    <div v-show="seeModal" class="modal1">
      <div class="modalBox1">
        <h1>Actualiza los datos de tu artículo:</h1>
        <ul id="modal">
          <article>
            <li>
              <label>Categoría :</label>
              <select class="editArticle" id="cat" name="searcherCategory" v-model="categoryUpdate">
                <option value="Televisión" selected>Televisón, TV</option>
                <option value="smartphone">Smartphone</option>
                <option value="portatil">Portátil</option>
                <option value="Ordenador">Ordenadores, CPU</option>
                <option value="monitor">Monitores PC</option>
                <option value="CamaraDigital">Cámara Dígital</option>
                <option value="CamaraReflex">Cámara Reflex</option>
                <option value="Reproductores">Reproductores Blu Ray/DVD</option>
                <option value="MP4MP3">MP4/MP3</option>
                <option value="Videocamara">Videocámara</option>
              </select>
            </li>

            <li>
              Marca :
              <input class="editArticle" id="brand" type="text" v-model="brandUpdate" />
            </li>

            <li>
              Descripción :
              <input
                class="editArticle"
                id="desc"
                type="text"
                v-model="descriptionUpdate"
              />
            </li>

            <li>
              Precio :
              <input class="editArticle" id="price" type="text" v-model="priceUpdate" />
            </li>

            <li>
              <label>Provincia :</label>
              <select
                class="editArticle"
                name="searcherProvince"
                v-model="provinceUpdate"
                id="province"
              >
                <option value="A Coruña" selected>A Coruña</option>
                <option value="Pontevedra">Pontevedra</option>
                <option value="Lugo">Lugo</option>
                <option value="Ourense">Ourense</option>
              </select>
            </li>
            <li>
              <button
                class="button"
                id="but"
                @click="updateArticle(idArticle), getArticles(), seeModal = !seeModal"
              >Actualizar</button>
            </li>
            <h1>Cambia las fotos de tu artículo:</h1>
            <li>
              <img :src="getImageName(image1)" id="img" />
              <a :href="getImageName(image1)" target="_blank">
                <button class="button" id="plusButton">Ampliar</button>
              </a>
              <input
                class="editArticle"
                id="file"
                type="file"
                ref="imagenArticulo1"
                @change="catchSeeArticle1"
              />
              <button
                class="button"
                id="butfoto"
                @click="updateImage1(idArticle),seeModal = !seeModal"
              >Actualizar Foto1</button>
            </li>
            <li>
              <img :src="getImageName(image2)" id="img" />
              <a :href="getImageName(image2)" target="_blank">
                <button class="button" id="plusButton">Ampliar</button>
              </a>
              <input
                class="editArticle"
                id="file"
                type="file"
                ref="imagenArticulo2"
                @change="catchSeeArticle2"
              />
              <button
                class="button"
                id="butfoto"
                @click="updateImage2(idArticle,seeModal = !seeModal)"
              >Actualizar Foto 2</button>
            </li>
            <li>
              <img :src="getImageName(image3)" id="img" />
              <a :href="getImageName(image3)" target="_blank">
                <button class="button" id="plusButton">Ampliar</button>
              </a>
              <input
                class="editArticle"
                id="file"
                type="file"
                ref="imagenArticulo3"
                @change="catchSeeArticle3"
              />
              <button
                class="button"
                id="butfoto"
                @click="updateImage3(idArticle),seeModal = !seeModal"
              >Actualizar Foto 3</button>
            </li>

            <li id="modal">
              <button class="button" @click="seeModal = !seeModal">Cancelar</button>
            </li>
          </article>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";
import editarticlecomp from "./../components/EditArticlesComp";
import Swal from "sweetalert2";

export default {
  name: "UpdateImage",
  components: {
    editarticlecomp,
  },
  data() {
    return {
      articles: [],
      brandUpdate: "",
      categoryUpdate: "",
      descriptionUpdate: "",
      priceUpdate: "",
      provinceUpdate: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      imagenArticulo3: "",
      idArticle: "",
      image1: "",
      image2: "",
      image3: "",

      seeModal: false,
    };
  },

  methods: {
    async deleteArticle(indexArticle) {
      try {
        const response = await axios.delete(
          "http://localhost:3000/articles/" + indexArticle,
          {
            brand: this.brandUpdate,
            category: this.categoryUpdate,
            description: this.descriptionUpdate,
            price: this.priceUpdate,
            province: this.provinceUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡ELIMINADO!!!",
          text: "¡El artículo ha sido correctamente eliminado.",
        });
        this.seeModal;
        this.getArticles();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    async updateArticle(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.put(
          "http://localhost:3000/articles/" + id,
          {
            brand: this.brandUpdate,
            category: this.categoryUpdate,
            description: this.descriptionUpdate,
            price: this.priceUpdate,
            province: this.provinceUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizado!!!",
          text: "¡El artículo ha sido correctamente actualizado.",
        });
        this.getArticles();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
    },
    catchSeeArticle3() {
      this.imagenArticulo3 = this.$refs.imagenArticulo3.files[0];
    },
    //Conexión al back para subir la foto1
    async updateImage1(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 1);
        formData.append("image", this.imagenArticulo1);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    //Conexión al back para subir la foto2
    async updateImage2(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 2);
        formData.append("image", this.imagenArticulo2);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,

          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        this.getArticles();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    async updateImage3(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 3);
        formData.append("image", this.imagenArticulo3);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        this.getArticles();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    seeInfoArticles(articles) {
      this.brandUpdate = articles.brand;
      this.categoryUpdate = articles.category;
      this.descriptionUpdate = articles.description;
      this.priceUpdate = articles.price;
      this.provinceUpdate = articles.province;
      this.idArticle = articles.id;
      this.image1 = articles.image1;
      this.image2 = articles.image2;
      this.image3 = articles.image3;
    },
  },
  //conexion al Back
  async getArticles() {
    let token = localStorage.getItem("AUTH_TOKEN_KEY");
    axios.defaults.headers.common["Authorization"] = `${token}`;

    try {
      const response = await axios.get(
        "http://localhost:3000/articlesuser/" + getIdToken(token)
      );
      this.articles = response.data.data;
      console.log(this.articles);
    } catch (error) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: `${error.response.data.message}`,
      });
    }
  },

  getImageName(name) {
    return process.env.VUE_APP_STATIC + name;
  },

  created() {
    this.listArticle();
  },
};
</script>
<style scoped></style>
