<template>
  <div class="listarticles">
    <vue-headful title="ShopTec | Vota artículo" />
    <h1 class="title">Vota el artículo que compraste recientemente.</h1>
    <ul id="searchBy">
      <article>
        <li>Categoria {{ article.category }}</li>
        <li>Marca: {{ article.brand }}</li>
        <li>Descripción: {{ article.description }}</li>
        <li>Precio: {{ article.price }} €</li>
        <li>Provincia: {{ article.province }}</li>
        <li>Ciudad: {{ article.city }}</li>
        <li>Valoración del vendedor:</li>
        <star-rating
          read-only
          :rating="Number(article.user_rating)"
          :show-rating="false"
          :increment="0.5"
        ></star-rating>

        <li class="everly" id="buySale">
          <img :src="getImageName(article.image1)" />

          <img :src="getImageName(article.image2)" />

          <img :src="getImageName(article.image3)" />
        </li>
      </article>
    </ul>
    <div class="vote">
      <p>
        <label>Introduce la valoración entre 1 y 5 a tu vendedor:</label>
        <select name="vote" v-model="vote" id="vote">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </p>
      <p>
        <button class="button" id="butvote" @click="createdVote(articleId)">Confirmar voto</button>
      </p>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import { isLoggedIn } from "../utils/utils";
import axios from "axios";
import Swal from "sweetalert2";
import StarRating from "vue-star-rating";

export default {
  name: "ConfirmReserve",
  components: {},
  data() {
    return {
      article: {},
      articleId: "",
      vote: "",
    };
  },

  methods: {
    async createdVote(articleId) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;
        console.log("ffff", vote);
        const response = await axios.post(
          `http://localhost:3000/articles/${articleId}/vote/`,
          {
            vote: this.vote,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡FANTASTICO!!!",
          text: "Tu voto ha sido correctamente computado.",
        });
        this.$router.push("/homeuser");
      } catch (error) {
        console.log(error);
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    //conexion al Back
    async listArticle() {
      try {
        let url = window.location.href;
        let [, id] = url.split("?");
        this.articleId = id;

        const response = await axios.get("http://localhost:3000/articles");
        let allArticle = response.data.data;
        for (const article of allArticle) {
          if (article.id === Number(this.articleId)) {
            this.article = article;
          }
        }

        console.log(response);
      } catch (error) {
        console.error(error);
      }
    },

    getImageName(name) {
      if (name !== undefined) {
        return process.env.VUE_APP_STATIC + name;
      } else {
        return "";
      }
    },
  },
  created() {
    this.listArticle();
  },
};
</script>

<style scoped></style>
